{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block body %}

    <h3>Etes-vous sûr ?</h3>

    {{ form_start(form) }}
        {{ form_row(form.submit)}}
    {{ form_end(form) }}

{% endblock %}