{% extends 'base.html.twig' %}

{% block title %}Pepepital - Accueil{% endblock %}

{% block body %}
<div class="container bg-dark text-white">
    <h3>Bonjour {% if app.user %}{{app.user.login}}{% else %}anonyme{% endif %}</h3>
    <p>Vous êtes actuellement sur la page d'accueil{% if not app.user %}, veuillez vous connecter pour continuer{% endif %}</p>
</div>

{% endblock %}
