{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block body %}

<div class="container bg-white">
    {{form_start(form)}}
        {{form_row(form.date)}}
        {{form_row(form.duree, {
            'label': 'Durée (en minutes)'
        })}}
        <button type="submit" class="btn btn-primary">Proposer le nouveau rendez-vous</button>
    {{form_end(form)}}
</div>

{% endblock %}
