{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous{% endblock %}

{% block body %}
<link rel="stylesheet" href="/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>

    <h1>Informations du rendez-vous</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.medecin) }}
        Date : <input type="text" id="datepicker" name="datepicker"><br>
        Heure : <input type="text" id="timepicker" name="timepicker"><br>
        {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}

    <script>
    $( function() {
    $("#datepicker").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    });

    $( function() {
        $("#timepicker").timepicker({
            timeFormat: 'H:i:s',
            minTime: '06:00:00',
            maxTime: '22:00:00',
            interval: 15
        });
    });

    function setParameters(parameterName, parameterValue){
        let parameters = new URLSearchParams(window.location.search);
        return parameters.set(parameterName,parameterValue);
    }

    $('#rdv_submit').click(function(){
        alert($("#timepicker").value())
    })

    </script>
{% endblock %}